# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\UBUTU_MODULE 3\Module3\Product\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
