/* @font-face {
    font-family: Pacifico;
    src: url("https://fonts.google.com/?subset=vietnamese");
} */

div{
    margin: 5px;
    background-color: rgb(216, 212, 207);
}

#header {
    width: 100%;
    height: 70px ;
}
#header h1 {   
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#head_link {
    width: 100%;
    height: 30px;
}
#head_link nav{
    padding-left: 20%;
}

#head_link nav li {
    list-style: none;
    display: inline-block;
}
#head_link nav li a{
   margin: 15px;
   text-decoration: none;
   color: black;
   font-size: 20px;
}

#left_content{
    width: 30%;
    height:550px;
    text-align: left;
    float: left;
    font-size: 20px;
}
#right_content{
    width: 68%;
    height: 550px;
    text-align: left;
    float: left;
    background-color: white;
}
#right_content iframe {
    width: 100%;
    height: 500px;
}
#left_content iframe {
    width: 100%;
    height: 200px;
}
#foodter{
    clear: both;
    width: 100%;
    height: 50px;
    text-align: center;
}
#foodter p {
    padding: 15px;
    font-size: 20px;
}